<% content_for :nav do %>
  <ul class='nav nav-pills'>
    <li><a href='<%= rulez.root_path %>'>Dashboard</a></li>
    <li><a href='<%= rulez.contexts_path %>'>Contexts</a></li>
    <li><a href='<%= rulez.rules_path %>'>Rules</a></li>
    <li class='active'><a href='<%= rulez.variables_path %>'>Variables</a></li>
  </ul>
<% end %>