<h1>Dummy this project</h1>
<h3>This is the dummy project homepage.</h3>
<p>
  rulez? 'rule1'
</p>
<div style="border: 1px solid #888; padding: 4px;">
  <%=
    rulez? 'rule1'
  %>
</div>
<p>Manage <%= link_to "restaurants", restaurants_path %>!</p>
<p>Go to the <%= link_to "rulez engine", rulez_path %>!</p>