<strong>Available variables (with descriptions):</strong><br>
<% @variables.each do |sym| %>
  <p>
    <%= "#{sym.name} (#{sym.model})" %> 
    <span class="variable_description">
      <%= " - " << sym.description if sym.description.present? %>
    </span>
    <% methods = (eval "#{sym.model}").new.public_methods(false) + (eval "#{sym.model}").new.attribute_names %>
    <% methods.each do |m| %>
      <br>
      &nbsp;&nbsp;
      <%= ".#{m}" %>
    <% end %>
  </p>
<% end %>