<strong>Available variables (with descriptions):</strong><br>
<% @variables.each do |sym| %>
  <p>
    <%= "#{sym.name} (#{sym.model})" %> 
    <span class="variable_description">
      <%= " - " << sym.description if sym.description.present? %>
    </span>
    <% methods = (eval "#{sym.model}").new.public_methods(false) + (eval "#{sym.model}").new.attribute_names %>
    <% methods.each do |m| %>
      <% if (!m.match(/\A_callback|\A_one_time_conditions_valid|\Avalidate_associated_records|\Abefore_|\Aafter_|\A_before_|\A_after_|\Aautosave_associated_records_for_/)) %>
        <br>
        &nbsp;&nbsp;
        <%= ".#{m}" %>
      <% end %>
    <% end %>
  </p>
<% end %>
<strong>Available functions:</strong><br>
<p>
  <% @functions.each do |f| %>
    <%= f %>
    <br>
  <% end %>
</p>