<%= javascript_include_tag "rulez/index" %>

<%= render partial: 'nav' %> 

<div class='page-header'>
  <h1>Dashboard</h1>
</div>

<div class='row'>
  <div id='doctor_button' class='btn btn-primary'>
    Run Doctor
  </div>
  <div id='doctor_output' class='row'>
  </div>

  <ul class='list-group'>
    <% f = File.open('log/rulez.log') %>
    <% lines = [] %>
    <% f.each_line { |line| lines << line } %>
    <% f.close %>
    <% display_lines = lines[(lines.length-10)...(lines.length)].reverse %>
    <% display_lines.each do |line| %>
      <li class='list-group-item'>
        <%= "#{line}" %>
      </li>
    <% end %>
  </ul>
   
</div>