<%= javascript_include_tag "rulez/index" %>
<%= stylesheet_link_tag "rulez/dashboard" %>

<%= render partial: 'nav' %> 

<div class='page-header'>
  <h1>Dashboard</h1>
</div>

<div class='row'>
  <div id='doctor_button' class='btn btn-primary'>
    Run Doctor
  </div>
  <div id='doctor_output' class='row'>
  </div>
  <br>
  <div class='panel'>
    <div class='panel-heading'>
      rulez.log
    </div>
    <div class='panel-body'>
      <div id='log-update-button' class='btn btn-primary log-buttons'>
        Update
      </div>
      <div class='btn-group' data-toggle='buttons'>
        <label class='btn btn-danger'>
          <input id='log-fatal-button' type='checkbox' class='log-buttons'> Fatal
        </label>
        <label class='btn btn-danger'>
          <input id='log-error-button' type='checkbox' class='log-buttons'> Error
        </label>
        <label class='btn btn-warning'>
          <input id='log-warning-button' type='checkbox' class='log-buttons'> Warning
        </label>
        <label class='btn btn-info'>
          <input id='log-info-button' type='checkbox' class='log-buttons'> Info
        </label>
        <label class='btn btn-default'>
          <input id='log-debug-button' type='checkbox' class='log-buttons'> Debug
        </label>
      </div>
    </div>
    <ul id='log-result' class='list-group'>
    </ul>
   </div>
</div>