<%= javascript_include_tag "rulez/index" %>
<%= stylesheet_link_tag "rulez/dashboard" %>

<%= render partial: 'nav' %> 

<div class='page-header'>
  <h1>Dashboard</h1>
</div>

<div class='row'>
  <div id='doctor_button' class='btn btn-primary'>
    Run Doctor
  </div>
  <div id='doctor_output' class='row'>
  </div>
  <br>
  <div class='panel'>
    <div class='panel-heading'>
      rulez.log
    </div>
    <div class='panel-body col-md-12'>
      <div class='col-md-1'>      
        <div id='log-update-button' class='btn btn-primary log-buttons'>
          Update
        </div>
      </div>
      <div class='col-md-2'>
        Numero Righe: <input id="log_number_lines" type="text" size='1' value='20'>
      </div>
      <div class='col-md-12 btn-group' data-toggle='buttons'>
        <label class='btn btn-default log-danger'>
          <input id='log_fatal_button' type='checkbox' class='log-buttons'> Fatal
        </label>
        <label class='btn btn-default log-danger'>
          <input id='log_error_button' type='checkbox' class='log-buttons'> Error
        </label>
        <label class='btn btn-default log-warning'>
          <input id='log_warning_button' type='checkbox' class='log-buttons'> Warning
        </label>
        <label class='btn btn-default log-info'>
          <input id='log_info_button' type='checkbox' class='log-buttons'> Info
        </label>
        <label class='btn btn-default log-default'>
          <input id='log_debug_button' type='checkbox' class='log-buttons'> Debug
        </label>
      </div>
    </div>
    <ul id='log_result' class='list-group'>
    </ul>
   </div>
</div>