<script type="text/javascript">
  var BASE_URL = '<%= root_url %>';
</script>
<%= javascript_include_tag "rulez/index" %>

<%= render partial: 'nav' %> 

<div class='page-header'>
  <h1>Dashboard</h1>
</div>

<div class='span12'>
<div id='doctor_button' class='btn'>
  Run Doctor
</div>
<div id='doctor_output' class='row'>
</div>
<% #render partial: 'logger' %> 

</div>